<section>
    <div class="section-content">
        <div class="container col-9 text-left">
            <h2 class="text-center">SubscribersSystem WebService</h2>    
          <p></p>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-group">
                                             
                    <div class="card text-left mb-3">
                       <div class="card-header bg-transparent">                                    
                            <h5 class="card-title">Subscribers list</h5>
                       </div>                              
                      <img class="card-img-top" src="../../../assets/images/lista.jpg" alt="subscribers list">
                        <div class="card-body">
                            <p class="card-text">Here you can have a possibility to see the list of subscribers that are in big TelecomSystem. Also deeper you will be able to add subscriber by clicking the right button. Press button below to go to the subscribers list</p>
                            <a routerLink="subscribers" class="btn btn-outline-success">Subscribers list</a>
                       </div>
                    </div>
                     <div class="card text-left mb-3" >
                       <div class="card-header bg-transparent">                                    
                            <h5 class="card-title">Offers list</h5>
                       </div>                               
                        <img class="card-img-top" src="../../../assets/images/listOffer.jpg" alt="offers list">                               
                            <div class="card-body">
                            <p class="card-text">Here you can have a possibility to see the list of offers that are in big TelecomSystem. Also deeper you will be able to add an offer by clicking the right button. Press button below to go to the offeers list</p>
                            <a routerLink="offers" class="btn btn-outline-success">Offers list</a>
                       </div>
                    </div>
                    <div class="card text-left mb-3">
                       <div class="card-header bg-transparent">                                    
                           <h5 class="card-title">Sell an offer</h5>                                
                       </div>
                      <img class="card-img-top" src="../../../assets/images/offer.jpg" alt="sell an offer to subscriber">
                        <div class="card-body">
                            <p class="card-text">Here you can have a possibility to sell an offer to the subscriber. By assigning offer to the subscriber you are generating new phone and assigning it to the subscriber. Press button below to go to the selling offer </p>
                            <a routerLink="sellOffer" class="btn btn-outline-success">Sell an offer</a>
                       </div>
                    </div>                                                       
                </div>
            </div>
        </div>
       </div>                
    </div>
</section>
